// Fonts

$montserrat-light: 'montserratlight', sans-serif;
$montserrat-regular: 'montserratregular', sans-serif;
$icomoon: 'icomoon';


// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-red: #cc0000;
$color-grey-light:#e7e7e7;
$color-grey:#cccccc;
$color-grey-dark: #999999;
$color-anthracite:#333333;

// FEATURED COLORS

// .tech
$color-featured-post: #395374;

// default
$color-featured-post: #11AAAA;
// .xyz
$color-featured-post: #66008C;

// base
$color-green: #11AAAA;
$color-green-dark: #063233;
$color-blue: #34495e;
